<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IRSI.SOSFileUploaderNet4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <IRSI.SOSFileUploaderNet4.Properties.Settings>
      <setting name="SOSFileUploader_LogPath" serializeAs="String">
        <value>C:\Temp</value>
      </setting>
      <setting name="SOSApi_ApiUrl" serializeAs="String">
        <value>http://localhost:50000</value>
      </setting>
      <setting name="SOSApi_ClientId" serializeAs="String">
        <value>ClientId</value>
      </setting>
      <setting name="SOSApi_ClientSecret" serializeAs="String">
        <value>ClientSecret</value>
      </setting>
      <setting name="IdentityServer_TokenEndpointUrl" serializeAs="String">
        <value>http://localhost:51000/connect/token</value>
      </setting>
      <setting name="SOSFileUploader_StoreId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SOSFileUploader_QsrSOSPath" serializeAs="String">
        <value>C:\Temp\QSR</value>
      </setting>
      <setting name="SOSFileUploader_HistoryPath" serializeAs="String">
        <value>C:\Temp\history.json</value>
      </setting>
    </IRSI.SOSFileUploaderNet4.Properties.Settings>
  </userSettings>
</configuration>